@font-face {
    font-family: 'Galaxy-Experience-Regular';
    src: url('../fonts/Galaxy-Experience.woff2');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'Baumans-Regular';
    src: url('../fonts/Baumans-Regular.ttf');
}